#cover {
  /* background-color: blueviolet; */
  margin: 0px;
  padding: 0px;
}

#coverimgContainer {
  height: 400px;
  clip-path: inset(0);
}

#coverimg {
  height: 400px;
  width: 100%;
  object-fit: cover;
  position: fixed;
}
