#profile {
  /* background-color: white; */
  margin: 0px;
  padding: 0px;
}

.profileSection {
  /* background-color: indigo; */
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

#profileimgContainer {
  /* background-color: gainsboro; */
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 130px;
  border: 5px white solid;
  margin-top: -160px;
  position: relative;
  box-shadow: 0px 5px 10px grey;
}

#profileimg {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

#socialMedia {
  /* background-color: lightblue; */
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMediaIcon {
  font-size: 50px;
}
#twitterIcon {
  color: #1DA1F2
}
#instagramIcon {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
#facebookIcon {
  color: #4267B2

}
#linkedinIcon {
  color: #0077b5
}

#profileName {
  /* font-size: 50px; */
}
#profileTitles {
  /* font-size: 30px; */
}

/* #profileNameRule {
  height: 10px;
  border-radius: 5px;
  width: 100%;
} */

#profileButtons {
  width: 350px;
  display: flex;
  align-items: center;
}
/* 
#profileButtonsRule {
  height: 100px;
  width: 10px;
  border-radius: 5px;
} */

.profileAffiliation {
  display: flex;
  align-items: center;
}

.profileAffiliationLogo {
  height: 30px;
  width: 30px;
  margin: 7px;
}
#caltecLogo {}
#uniqloLogo {}
#utokyoLogo {}

.profileAffiliationIconContainer {
  background-color: rgb(163, 163, 163);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.profileAffiliationIcon {
  color:rgb(235, 235, 235)
}
